HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore everything in the static/images folder
src/main/resources/static/images/*

# Un-ignore specific files in the static/images folder
!src/main/resources/static/images/Test_Bandung.jpg
!src/main/resources/static/images/Test_Malang.jpg
!src/main/resources/static/images/Test_Surabaya.jpg

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
